This script creates the data base. Uses local module to populate

In [1]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='root', password='qqqqqq',
                               host='127.0.0.1',database='warranties')
cur = con.cursor()

Create the table for the customers

In [3]:
cur.execute('''CREATE TABLE customers (
                cID INT AUTO_INCREMENT,
                first_name CHAR(30),
                last_name CHAR(30),
                mob_number CHAR(12),
                region TINYINT,
                PRIMARY KEY (cID)
                )
            ''')

Define a function to generate a random name, surname, mobile number, and region for a customer.

In [ ]:
fr

nameList = ['alex','barry','cedric','dave','eric','freddy','george',
            'helen','isla','jim','kerry','larry','mona','neville',
            'ophelia','pat','roger','steve','tash','will','xena!']
surnameList = ['adams','brompton','clibbon','douglas','free','humphrey',
               'iglasia','garcia','clifford','smith','jones']
    


def getCustomer():

Insert information into the table

In [2]:
cur.execute('''INSERT into customers (first_name,
                last_name, mob_number, region)
                values (%s, %s, %s, %s)''',
            ('joe','bloggs','+44123456789','0'))

In [3]:
db = pd.read_sql('''SELECT * FROM customers''',con)

In [4]:
db.head()

   cID first_name last_name    mob_number  region
0    1        joe    bloggs  +44123456789       0
1    2        joe    bloggs  +44123456789       0

In [5]:
con.commit()